{% extends "base.html" %}
{% block content %}

<!-- Source: http://snipplicious.com/snippet/19/edit-profile-page -->


<form class="form-compact" role="form" action="{{ url_for('addRower')}}" method = 'POST' enctype='multipart/form-data'>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <h1>New Rower Profile:</h1>
        <img src="{{ url_for('static',
              filename='images/avatar_missing_lg.png')}}" class="avatar img-rounded img-thumbnail" alt="avatar" width="75%">
        <h6>Upload a different photo...</h6>
        <input type="file" name='photo' class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info" style="padding-top: 10px;">
      <!-- <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <h3 style='padding'>Personal info</h3>
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='fname' placeholder='Johnny' type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='lname' placeholder='Awesome' type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Team for {{currentseason.name}}:</label>
        <div class="col-lg-8">
          <div class="form-control">
            <input type='radio' name='team' value="mens" checked >
              Men's 
            <input type='radio' name='team' value="womens"> 
              Women's
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Register for {{ currentseason.name }}:</label>
        <div class="col-lg-8">
          <div class="form-control">
            <input type='hidden' name='rower_seasons' value='0' />
            <input type='checkbox' name='rower_seasons' value='1' checked/>
                {{ currentseason.name }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Graduation Year:</label>
        <div class="col-lg-8">
          <input class="form-control" name='gyear' placeholder='2030' type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Seasons Experience:</label>
        <div class="col-lg-8">
          <input class="form-control" name='experience' placeholder='4' type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Mother's Name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='mother' placeholder='Cathy' type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Father's Name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='father' placeholder='Big John' type="text">
        </div>
      </div>
      
    </div>
  </div>
  <!-- New Row for regatta info -->
  <div class = "row">
    <div class="panel panel-default", style="margin:40px">
      <table class="table table-hover" >
        <caption> <h3>Regattas History</h3></caption>
        <!-- for s in rowerhistoryseasons -->
        {% for s in seasons %}
          <tr><td colspan="2" align="center"><h5>{{s.description}}</h5></td></tr>
          {% for r in regattas if r.season_id == s.id %}
            <tr>
              <td><input type='checkbox' name='rower_regattas' value='{{r.id}}'>
                  {{r.name}}</td>
              <td>{{r.date.strftime('%a, %B %d, %Y')}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
      
    </div>
      <div class='form-group' style="margin:40px">
        <div class="control-label col-xs-2">
          <button type="submit" value='Submit Edits' class="btn btn-primary">Submit</button>
          <a class="btn btn-default" onclick="goBack()" role="button">Cancel</a>
        </div>
      </div>
  </div>
</form>



{% endblock %}