<!-- Rowing Roster v0.1- a Udacity Nano-Degree Project for Full Stack Foundations
 v0.1 adds:   1)Routing
                2)Templates and Forms
                3)CRUD Functionality
 March 2015 by Gary Davis -->

<html>
  <head>
   
  </head>
  <body>
    <div><h1>Northeaster Summer Crew:</h1>
      <a href="{{ url_for('mainPage') }}">Home</a>
	  </div>
    
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class = 'pane'>
    {% block content %}{% endblock %}
    </div>
  </body>
</html>