<!-- Rowing Roster v0.1- a Udacity Nano-Degree Project for Full Stack Foundations
 v0.1 adds:   1)Routing
                2)Templates and Forms
                3)CRUD Functionality
 March 2015 by Gary Davis -->

{% extends "base.html" %}
{% block content %}

<h2>DELETE Existing Season: {{season.name}}</h2>

<form action="{{ url_for('deleteSeasonConfirmation', season_id=season.id)}}" method = 'post'>
<h2>Are you sure you wish to delete this season?  All regatta data associated with this season will be deleted.</h2>

	<dl>
		<dt>Season Name:</dt>
			<dd>{{season.name}}</dd>
		<dt>Short Name:</dt>
			<dd>{{season.short}}</dd>
		<dt>Description:</dt>
			<dd>{{season.description}}</dd>
	</dl>

	<input type='submit' value='Confirm Delete'>  <a href='{{ url_for('editSeason', season_id=season.id)}}'>Cancel</a>

</form>

{% endblock %}