<!-- Rowing Roster v0.1- a Udacity Nano-Degree Project for Full Stack Foundations
 v0.1 adds:   1)Routing
                2)Templates and Forms
                3)CRUD Functionality
 March 2015 by Gary Davis -->


<html>
<header>
</header>
<body>
<h2>Edit Rower Profile: {{rower.fname}} {{rower.lname}}</h2>

<form action("{{ url_for('editRower', rower_id=rower.id)}}" method = 'POST')>

<table border="1", style="width:75%">
  
  <tr>
  	<td align="center" width="40%" rowspan="9"><img src="{{ url_for('static',
              filename=rower.photo)}}" alt="Smiley face" width="100%"><input type='file' name='photo' accept="image/*"><br> 300KB or less please</td>
  <tr>
    <td>First Name</td><td><input type='text' size='30' name='fname' value='{{rower.fname}}'></td></tr>
  <tr>
    <td>Last Name</td><td><input type='text' size='30' name='lname' value='{{rower.lname}}'></td></tr>
  <tr>
    <td>Graduation Year:</td> <td><input type='text' size='6' name='gyear' value='{{rower.gyear}}'></td></tr>
  <tr>
    <td>Team:</td><td><input type='radio' name='team' value="mens" {% if currentseason.team_id == 'mens'%} checked {% endif %}> Men's <input type='radio' name='team' value="womens" {% if currentseason.team_id == 'womens' %} checked {% endif %}> Women's</td></tr>
  
  <!-- !!! below need to add max(seasons.id) and season.name for the same -->
  
  <tr>
    <td>Register for this Season?:</td><td><input type=checkbox name='rower_seasons' value=True {% if currentseason.rowed%} checked {% endif %} > {{currentseason.name}}</td></tr>
  <tr>
    <td>Seasons of Experience:</td><td><input type='text' size='6' name='experience' value='{{rower.experience}}'></td></tr>
  <tr>
    <td>Mother's name:</td><td><input type='text' size='30' name='mother' value='{{rower.mother}}'></td></tr>
  <tr>     
    <td>Father's name:</td><td><input type='text' size='30' name='father' value='{{rower.father}}'></td></tr>
</table>

<br><br>

</table>

<table border="1", style="width:75%">
<caption> Regattas History (check the appropriate regattas rowed)</caption>
{% for s in seasons %}
<tr><td colspan="2" align="center"><strong>{{s.description}}</stong></td></tr>

<!-- !!! add below a date restriction so date is less than today's date -->

{% for r in rowerhistoryregattas if r.regatta.season_id == s.id %}
<tr><td><input type='checkbox' name='rower_regattas' value='{{r.id}}' {% if r.rowed %}checked{%endif%}> {{r.regatta.name}}</td><td>{{r.regatta.date}}</td></tr>
{% endfor %}
{% endfor %}
</table>
<p><input type='submit' value='Submit'>   <a href="{{ url_for('showRower', rower_id = rower.id)}}">Cancel</a></p>

</form>

</body>
</html>