<!-- Rowing Roster v0.1- a Udacity Nano-Degree Project for Full Stack Foundations
 v0.1 adds:   1)Routing
                2)Templates and Forms
                3)CRUD Functionality
 March 2015 by Gary Davis -->

<html>
<header>
</header>
<body>
<h2>Edit Regatta Information:  {{regatta.name}}</h2>

<form action="{{ url_for('editRegatta', regatta_id=regatta.id)}}" method = 'post'>

	<dl>
		<dt>Season:</dt>
			<dd><select name='season_id'>
				<option value={{regatta.season_id}}>{{regatta.season_id}}</option>
			{%for s in seasons %}
				<option value={{s.id}}>{{s.name}}</option>
			{% endfor %}
				</select></dd>
			
		<dt>Regatta Name:</dt>
			<dd><input type ='text' size='60' name='name' value='{{regatta.name}}'></dd>
		<dt>Date:</dt>
			<!-- using the %Y-%m-%d from to be compatible with browsers that support the type=date format for pop-up calendar input -->
			<dd><input type=date name='date' size='12'value={{regatta.date.strftime('%Y-%m-%d')}}></dd>
		<dt>Link to regatta website:</dt>
			<dd><input type ='text' size='60' name='weblink' value='{{regatta.weblink}}'></dd>
		<dt>Description:</dt>
			<dd><input type='text' size='60' name='description' value='{{regatta.description}}'></textarea></dd>
	</dl>

	<input type='submit' value='Submit Edits'>  <a href='{{ url_for('showRegatta', regatta_id=regatta.id)}}'>Cancel</a>  <a href='{{ url_for('deleteRegattaConfirmation', regatta_id=regatta.id)}}'>DELETE</a>

</body>
</html>