<!-- Rowing Roster v0.1- a Udacity Nano-Degree Project for Full Stack Foundations
 v0.1 adds:   1)Routing
                2)Templates and Forms
                3)CRUD Functionality
 March 2015 by Gary Davis -->

{% extends "base.html" %}
{% block content %}


<h2>Edit Existing Season: <br>{{season.name}}</h2>

<form class="form-horizontal" action="{{ url_for('editSeason', season_id=season.id)}}" method = 'post'>
  <div class='form-group'>
    <label for="inputName" class="control-label col-xs-2">Season Name:</label>
    <div class="col-xs-10">
      <input type ='text' class="form-control" id="inputName" name='name' value='{{season.name}}' required>
    </div>
  </div>
  <div class='form-group'>
    <label for="inputShort" class="control-label col-xs-2">Short Name:</label>
    <div class="col-xs-10">
      <input type ='text' class="form-control" id="inputShort" name='short' value='{{season.short}}' required>
    </div>
  </div>
  <div class='form-group'>
    <label for="inputDescr" class="control-label col-xs-2">Description:</label>
    <div class="col-xs-10">
      <input type ='text' class="form-control" id="inputDescr" name='description' value='{{season.description}}' required>
    </div>
  </div>
  <div class='form-group'>
    <div class="control-label col-xs-2">
      <button type="submit" value='Submit Changes' class="btn btn-primary">Submit</button>
      <a class="btn btn-default" onclick="goBack()" role="button">Cancel</a>
    </div>
  </div>
  <div class='form-group'>
    <div class="control-label col-xs-2">
      <a class="btn btn-warning" href="{{url_for('deleteSeasonConfirmation', season_id=season.id)}}" role="button">Delete</a>
    </div>
  </div>
</form>

{% endblock %}