{% extends "base.html" %}
{% block content %}

<!-- Source: http://snipplicious.com/snippet/19/edit-profile-page -->

<h1 class="page-header">Edit Profile: {{rower.fname}} {{rower.lname}}</h1>
<form class="form-compact" role="form" action="{{ url_for('editRower', rower_id=rower.id)}}" 
          method = 'POST' enctype='multipart/form-data'>
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="{{ url_for('static',
              filename='images/' + rower.photo)}}" class="avatar img-rounded img-thumbnail" alt="avatar" width="75%">
        <h6>Upload a different photo...</h6>
        <input type="file" name='photo' class="text-center center-block well well-sm">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <!-- <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div> -->
      <h3>Personal info</h3>
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='fname' value="{{rower.fname}}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='lname' value="{{rower.lname}}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Team for {{currentseason.name}}:</label>
        <div class="col-lg-8">
          <div class="form-control">
            <input type='radio' name='team' value="mens" {% if currentteam.id == 'mens'%} checked {% endif %}>
              Men's 
            <input type='radio' name='team' value="womens" {% if currentteam.id == 'womens' %} checked {% endif %}> 
              Women's
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Register for {{ currentseason.name }}:</label>
        <div class="col-lg-8">
          <div class="form-control">
            <input type='hidden' name='rower_seasons' value='0' />
            <input type='checkbox' name='rower_seasons' value='1'
                    {% for s in rower.season %}
                      {%if s.id == currentseason.id %}
                        checked
                      {% endif %}
                    {% endfor %}
                   />
                {{ currentseason.name }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Graduation Year:</label>
        <div class="col-lg-8">
          <input class="form-control" name='gyear' value="{{rower.gyear}}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Seasons Experience:</label>
        <div class="col-lg-8">
          <input class="form-control" name='experience' value="{{rower.experience}}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Mother's Name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='mother' value="{{rower.mother}}" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Father's Name:</label>
        <div class="col-lg-8">
          <input class="form-control" name='father' value="{{rower.father}}" type="text">
        </div>
      </div>
      <div class='form-group'>
        <div class="control-label col-xs-2">
          <button type="submit" value='Submit Edits' class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class='form-group'>
        <div class="control-label col-xs-2">
          <a class="btn btn-default" onclick="goBack()" role="button">Cancel</a>
        </div>
      </div>
      <div class='form-group'>
        <div class="control-label col-xs-2">
          <a class="btn btn-warning" href="{{ url_for('deleteRowerConfirmation', rower_id=rower.id)}}" role="button">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <!-- New Row for regatta info -->
  <div class = "row" style="padding-top: 40px;">
    <div class="panel panel-default", style="margin:40px">
      <table class="table table-hover" >
        <caption> <h3>Regattas History</h3></caption>
        <!-- for s in rowerhistoryseasons -->
        {% for s in seasons %}
          <tr><td colspan="2" align="center"><h5>{{s.description}}</h5></td></tr>
          {% for r in regattas if r.season_id == s.id %}
            <tr>
              <td><input type='checkbox' name='rower_regattas' value='{{r.id}}' {% if r.id in rowedregattas %}checked{%endif%}>
                  {{r.name}}</td>
              <td>{{r.date.strftime('%a, %B %d, %Y')}}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</form>
{% endblock %}