{% extends "base.html" %}
{% block content %}


<h2 class='pheader'>Regattas</h2>

<div class="panel panel-default", style="width:75%">
	<table class="table table-hover">
	{% for s in seasons %}
	<tr><td colspan="2" align="center"><h4>{{s.description}}</h4></td></tr>
	{% for r in regattas if r.season_id == s.id %}
	<tr><td><a href='{{url_for('showRegatta',regatta_id=r.id)}}'>{{r.name}}</a></td><td>{{r.date.strftime('%a, %B %d, %Y')}}</td></tr>
	{% endfor %}
	{% endfor %}
	</table>
</div>

<p><a href='{{url_for('addRegatta')}}'><button type="button" class="btn btn-primary">Add New</button></a></p>
{% endblock %}