{% extends "base.html" %}
{% block content %}


<h2 pheader>Registered Seasons</h2>


<div class="panel panel-default", style="width:75%">
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>Season Name</th>
      <th>Short Name</th>
      <th>Description</th>
    </tr>
    {% for s in seasons %}
    <tr>
      <td>{{s.id}}</td>
      <td><a href='{{url_for('editSeason', season_id=s.id)}}'>{{s.name}}</a></td>
      <td>{{s.short}}</td>
      <td>{{s.description}}</td>
    </tr>
    {% for r in regattas if r.season_id == s.id %}
    <tr><td>{{r.name}}</td><td>{{r.date}}</td></tr>
    {% endfor %}
    {% endfor %}
  </table>
</div>

<p><a href='{{url_for('addSeason')}}'><button type="button" class="btn btn-primary">Add New</button></a></p>

{% endblock %}